@typeparam TItem

<Table 
    TItem="TItem" 
    IsBordered="true" 
    IsStriped="true" 
    TableColumns="TableColumns" 
    ShowToolbar="true" 
    ShowExtendButtons="true"  
    EditTemplate="EditTemplate!"
    OnSaveAsync="OnSaveAsync"
    OnEditAsync="OnEditAsync"
    OnDeleteAsync="OnDeleteAsync"
    ShowLineNo="true"
    IsTree="IsTree"
    TreeNodeConverter="TreeNodeConverter"
    ShowExtendEditButtonCallback="ShowExtendEditButtonCallback"
    ShowExtendDeleteButtonCallback="ShowExtendDeleteButtonCallback"
    BeforeRowButtonTemplate="BeforeRowButtonTemplate"
    >
    
</Table>
